--navy-50: #f3f5f7;
--spacing-5: 2px;
--spacing-20: 8px;
--spacing-10: 4px;
--spacing-0: 0px;
--navy-100: #e7ebee;
--navy-200: #d0d6de;
--navy-300: #a0adbc;
--navy-400: #71859b;
--navy-500: #415c79;
--navy-600: #123358;
--navy-700: #0d2642;
--navy-800: #09192c;
--teal-50: #f2fbfb;
--teal-100: #e5f6f7;
--teal-200: #cceeee;
--teal-300: #99dcde;
--teal-400: #66cbcd;
--teal-500: #33b9bd;
--teal-600: #00a8ac;
--teal-700: #007e81;
--teal-800: #005456;
--rust-50: #fdf6f5;
--rust-100: #fbedeb;
--rust-200: #f7dbd6;
--rust-300: #efb6ad;
--rust-400: #e69285;
--rust-500: #de6d5c;
--rust-600: #d64933;
--rust-700: #a13726;
--rust-800: #6b2419;
--black-50: #fafafa;
--black-100: #f4f4f4;
--black-200: #dddddd;
--black-300: #c6c6c6;
--black-400: #a3a3a3;
--black-500: #818181;
--black-600: #5f5f5f;
--black-700: #3c3c3c;
--black-800: #1a1a1a;
--green-50: #f6fbf7;
--green-100: #ecf7f0;
--green-200: #daefe1;
--green-300: #b4dfc3;
--green-400: #8fcfa5;
--green-500: #69bf87;
--green-600: #44af69;
--green-700: #33834f;
--green-800: #225735;
--red-50: #fef6f5;
--red-100: #feeceb;
--red-200: #fdd9d7;
--red-300: #fbb4af;
--red-400: #f88e86;
--red-500: #f6695e;
--red-600: #f44336;
--red-700: #b73228;
--red-800: #7a211b;
--yellow-50: #fffcf2;
--yellow-100: #fef9e5;
--yellow-200: #fdf3cc;
--yellow-300: #fbe799;
--yellow-400: #f9dc66;
--yellow-500: #f7d033;
--yellow-600: #f5c400;
--yellow-700: #b89300;
--yellow-800: #7b6200;
--blue-50: #f4f9ff;
--blue-100: #e8f4ff;
--blue-200: #d2e9ff;
--blue-300: #a5d3ff;
--blue-400: #78bcff;
--blue-500: #4ba6ff;
--blue-600: #1e90ff;
--blue-700: #166cbf;
--blue-800: #0f4880;
--spacing-30: 12px;
--spacing-40: 16px;
--spacing-50: 20px;
--spacing-60: 24px;
--spacing-70: 28px;
--spacing-80: 32px;
--spacing-90: 36px;
--spacing-100: 40px;
--spacing-110: 44px;
--spacing-120: 48px;
--spacing-140: 56px;
--spacing-160: 64px;
--spacing-200: 80px;
--spacing-px: 1px;
--spacing-15: 6px;
--spacing-240: 96px;
--spacing-280: 112px;
--spacing-320: 128px;
