--colors-text-headings: #ffffff;
--colors-text-body: #ffffff;
--colors-text-action: #ffffff;
--colors-text-action-hover: #ffffff;
--colors-text-disabled: #ffffff;
--colors-text-information: #ffffff;
--colors-text-success: var(--color-green-600);
--colors-text-warning: #ffffff;
--colors-text-error: #ffffff;
--colors-text-on-action: #ffffff;
--colors-text-on-disabled: #ffffff;
--colors-surface-page: #ffffff;
--colors-surface-primary: #ffffff;
--colors-surface-success: #ffffff;
--colors-surface-disabled: #ffffff;
--colors-surface-error: #ffffff;
--colors-surface-warning: #ffffff;
--colors-surface-information: #ffffff;
--colors-surface-action: #ffffff;
--colors-surface-action-hover: #ffffff;
--colors-icon-primary: #ffffff;
--colors-icon-information: #ffffff;
--colors-icon-success: #ffffff;
--colors-icon-warning: #ffffff;
--colors-icon-error: #ffffff;
--colors-border-primary: #ffffff;
--colors-border-secondary: #ffffff;
--colors-border-information: #ffffff;
--colors-border-success: #ffffff;
--colors-border-warning: #ffffff;
--colors-border-error: #ffffff;
--colors-border-disabled: #ffffff;
--colors-border-action: #ffffff;
--colors-border-action-hover: #ffffff;
--colors-border-focus: #ffffff;
